

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background-color: black !important;
  box-shadow: 0px 2px 5px black;
}
.nav-link, .navbar-brand{
  color: white !important;
}
.navbar-nav{
  margin-left: auto;
}




.smallimg{
  height: 200px;
  width: 100% !important;
}
h1{
  font-size: 20px !important;
}
.btn{
  background-color: black !important;
  border: none !important;
}
.bs{
  box-shadow: 2px 2px 7px black;
  padding: 10px;
}
.bigimg{
  width: 560px;
}
input,select,.ant-picker{
  box-shadow: none !important;
  margin-top: 10px;
  border: 2px solid black !important;
  text-align: center;
  border-radius: 5px;
}
.ant-picker-input input{
  border: none !important;
}
h2{
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.landing{
  background-color: black;
  height: 100vh;
  padding-top: 100px;
}
.start{
  background-color: #ffffff !important;
  color: black !important;
}
h3{
  text-shadow: 10px 10px 8px rgb(110, 110, 110);
  font-family: 'Tilt Prism', cursive;
  color:white;
  font-size:120px;
  padding:30px
}